html {
    background-color: #000235;
    z-index: 100;
    font-size: 16px;
}
main {
    max-width: 1440px;
    margin: 0 auto;
}
.circle { 
    width: 43.3125rem;
    height: 43.3125rem;
    flex-shrink: 0;
    border-radius: 43.3125rem;
    position: absolute;
    filter: blur(198px);
    z-index: -100;
}
.blue-circle {
    background: hsl(240, 51%, 71%);
    transform: translateY(-40rem);
}
.green-circle {
    background: rgba(171, 217, 217, 0.80);
    transform: translatex(70rem);
}
.dark-blue-circle {
    background: #5151C6;
    transform: translateX(25rem);   
}
header {
    z-index: 100;
    padding-top: 1.7rem;
    padding-left: 11rem;
    padding-right: 11.8rem;
    width: 100%
}
.navbar {
    width: 66.4375rem;
}
.logo {
    color: #FFF;
    font-family: Outfit;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.71875rem; /* 137.5% */
    text-transform: lowercase;
    
    padding-top: 1.7rem;
    padding-left: 1.262rem;
    padding-right: 1.262rem;
}
.menu {
    width: 66.4375rem;
    height: 1.75rem;
    flex-shrink: 0;
    color: #FFF;
    font-family: Outfit;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71875rem; /* 137.5% */
    text-transform: lowercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    width: 6rem;
}
li {
    display: inline;
    float: right;
    padding: 0.75rem;
}
.hero-container {
    display: flex;
    justify-content: center;
    width: 90em;

}
.hero {
    display: flex;
    font-weight: 700;
    background: url(../images/computer.png) no-repeat;
    background-position: right;
    width: 66.4375rem;
    height: 35.9375rem;
    flex-shrink: 0;
    justify-self: center;
}
.hero h1 {
    margin-top: 5rem;
    width: 35rem;
}
.hero_image {
    float: right;
    width: 522px;
    height: 565px;
    flex-shrink: 0;
}
.sub-text {
    width: 20.1875rem;
    height: 3.5rem;
    flex-shrink: 0;
    margin-top: -2rem;
    margin-bottom: 4rem;
}
h1 {
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 5.4375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 5.4375rem */
    text-transform: capitalize;
}
h2 {
    color: #FFF;

    /* Body */
    font-family: Roboto, sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71875rem; /* 152.778% */
}
p {
    color: #FFF;

    /* "Paragraph" informational text */
    font-family: Roboto, sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71875rem; /* 152.778% */
}
.featured-text {
    width: 60%;
    margin: auto;
}
.featured-on {
    width: 55.3125rem;
    font-family: Outfit;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.71875rem; /* 137.5% */
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}
.featured-container {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
}
.featured {
    display: flex;
    width: 55.3125rem;
    height: 9rem;
    flex-shrink: 0;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10rem;
}
.forbes {
    padding-right: 20px;
}
.image-container {
    width: 55.3125rem;
    height: 6.25rem;
    flex-shrink: 0;
    border-radius: 0.4375rem;
    border: 1px solid #000;
    background: rgba(99, 88, 189, 0.20);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro {
    color: rgba(171, 217, 217, 0.80);

    /* Intro font formatting */
    font-family: Outfit;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.71875rem; /* 137.5% */
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}
.buy_button, .sell_button, .black_button {
    color: #FFF;

    /* Button font */
    font-family: Outfit;
    font-size: 1.20rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.71875rem; /* 137.5% */
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    padding: 1rem 4.5rem;
}
.buy_button {
    width: 15.9375rem;
    height: 4.4375rem;
    flex-shrink: 0;
    border-radius: 5.1875rem;
    background: #8F8FDB;
}
.sell_button {
    border-radius: 5.1875rem;
    border: 1px solid #ABD9D9;
}
.black_button {
    display: inline-flex;
    padding: 1.3125rem 4.5625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 5.1875rem;
    border: 1px solid #000;
    background: #000;
}
a {
    color: #FFF;
    text-decoration: none;
}
.about-container {
    display: flex;
    justify-content: center;
    width: 90em;
}
#about {
    display: flex;
    font-weight: 700;
    background: url(../images/task.png) no-repeat;
    background-position: left top;
    width: 62.875rem;
    height: 30.75rem;
    flex-shrink: 0;
    justify-self: center;
    justify-content: right;
}
.task {
    width: 31.125rem;
}
.about-contents {
    
    width: 31.125rem;
    height: 3.5rem;
    flex-shrink: 0;
    margin-top: 5rem;
    margin-bottom: 4rem;
}
.about-contents h2 {
    color: #FFF;
    font-family: Outfit;
    font-size: 3.4375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 3.4375rem */
    text-transform: capitalize;
    margin-top: -1rem;
    margin-bottom: -0.75rem;
}
.buy_image {
    padding-top: 5rem;
}
.buy-container {
    display: flex;
    justify-content: center;
    width: 90em;
}
#buy {
    display: flex;
    font-weight: 700;
    background-position: right top;
    width: 62.875rem;
    height: 30.75rem;
    flex-shrink: 0;
    justify-self: center;
    justify-content: right;
}
.buy {
    display: flex;
    align-content: left;
    align-items: left;
}
.buy-contents {
    padding-right: 9.5rem;
    width: 31.125rem;
    height: 3.5rem;
    flex-shrink: 0;
    margin-top: 5rem;
    margin-bottom: 4rem;
}
.buy-contents h2 {
    color: #FFF;
    font-family: Outfit;
    font-size: 3.4375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 3.4375rem */
    text-transform: capitalize;
    margin-top: -1rem;
    margin-bottom: -0.75rem;
}
.testimonials-header {
    text-align: center;
    margin-bottom: 5rem;
}
.testimonials-header h2 {
    font-family: Outfit;
    font-size: 3.5625rem;
    margin-top: -1rem;
    text-align: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 3.5625rem */
    text-transform: capitalize;
}
.testimonials {
    padding-left: 11.75rem;
    padding-right: 11.75rem;
}
.testimonial-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}
.testimonial {
    border-radius: 1.25rem;
    background: #13124F;
    width: 21.875rem;
    height: 17.6875rem;
    flex-shrink: 0;
    text-align: center;
    
}
.testimonial circular-image {
    position: absolute;
    top: -0.5rem;
    padding-left:50%;
}
.testimonial h2 {
    font-family: Outfit;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.71875rem; /* 137.5% */
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}
.testimonial p {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 6.4375rem;
    flex-shrink: 0;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 200;
    line-height: 119%; /* 1.19rem */
}
.ready {
    margin-left: 3.5rem;
    padding-left: 16.5rem;
    display: flex;
    width: 66.875rem;
    height: 25.3125rem;
    flex-shrink: 0;
    margin-top: 18rem;
    margin-bottom: 10rem;
    border-radius: 50px;
    align-items: center;
    text-align: center;
    border-radius: 1.875rem;
background: linear-gradient(279deg, rgba(171, 217, 217, 0.80) -1.34%, #5151C6 100%);
}
.ready h2 {
    color: #000;

    /* Subheading */
    font-family: Outfit;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.71875rem; /* 137.5% */
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}
.ready p {
    color: #FFF;
    text-align: center;
    font-family: Outfit;
    font-size: 3.5625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 3.5625rem */
    text-transform: capitalize;   
}
footer {
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.9375rem; /* 193.75% */
    display: flex;
    justify-content: space-between;
    margin-bottom: 7rem;
    margin-top: 5rem;
    background: #060635;
}
.column h3{
    color: #FFF;

    font-family: Outfit;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: lowercase;
}
input {
    color: #FFF;

    font-family: Roboto, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.9375rem; /* 193.75% */
}
.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.column form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}
.column form input[type="email"] {
    flex-grow: 1; 
    padding: 10px;
    border-radius: 6px;
    border: none;
}
.submit {
    font-family: Outfit;
    border-radius: 5.1875rem;
    border: 1px solid #000;
    background: #8F8FDB;
    border-radius: 5.1875rem;
    border: 1px solid #000;
    background: #8F8FDB;
    padding: 0.3rem 1.3rem;
}
@media screen and (max-width: 1024px) {
    html {
        max-width: 1920px;
    }
    .hero-container {
        justify-content: left;
    }
    .hero {
        display: flex;
    }
    .hero h1 {
        font-size: 4.078125rem;
    }
    .sub-text {
        width: 80%;
    }
    .buy-container {
        justify-content: left;
    }
    #about {
        background: none;
        justify-content: left;
    }
    footer {
        flex-direction: column;
    }
    .column {
        margin-bottom: 20px;
    }
    .buy-image {
        display: none;
    }
    .ready {
        margin-left: 0rem;
        padding-left: 0rem;
    }
    .ready p {
        font-size: 2.5rem;
    }
    .image-container{
        justify-content: normal;
        margin-left: 5rem;
    }
}
@media screen and (max-width: 760px) {
    
    html {
        max-width: 1920px;
    }
    .menu {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .hero {
        background-image: none;
    }
    .hero h1 {
        font-size: 3rem;
    }
    .sub-text {
        width: 90%;
    }
    .task, .buy{
        background-image: none;
    }
    .testimonial-cards {
        flex-direction: column;
        align-items: center;
    }
    .testimonial {
        margin-top: 5rem;
        flex-basis: 100%;
    }
}
@media screen and (max-width: 480px) {
    main {
        padding: 0 20px;
    }
    .hero h1 {
        font-size: 2.6rem;
    }
    .sub-text {
        width: 100%;
    }
}